<p>{{title}}</p>

<form ngForm  class="form"
  #assignmentForm>
    <mat-form-field>
      <mat-label>Name of the assignment</mat-label>
      <input matInput [(ngModel)]="nomDevoir" name="nom">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Rendered date</mat-label>
      <input matInput [matDatepicker]="picker" date="dateDeRendu">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

      <p>{{nomDevoir}}</p>
      <button mat-stroked-button
        color="primary"
        [disabled]="!ajoutActive">
            Add an assignment
      </button>
</form>

<mat-list *ngFor="let assignment of assignments">
  <h3 [ngClass]="'date'" mat-subheader>{{assignment.dateDeRendu | date}}</h3>
  <mat-list-item (click)="assignementClick(assignment)">
    <p appRendu *ngIf="assignment.rendu; else nonsoumis">
      The duty entitled "{{assignment.nom}}"
    </p>
    <ng-template #nonsoumis>
      The duty entitled "{{assignment.nom}}" doesn't have been rendered
    </ng-template>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-list>

<app-assignment-detail [assignmentReceived]="assignmentSelect"></app-assignment-detail>
