<p>{{title}}</p>

<form ngForm #assignmentForm class="form">
    <mat-form-field>
        <input matInput [(ngModel)]="nomDevoir" name="nom">
        <mat-hint>MM/DD/YYYY</mat-hint>
    </mat-form-field>
    <p>{{nomDevoir}}</p>
    <button mat-stroked-button
      color="primary"
      [disabled]="!ajoutActive">
          Ajouter un devoir
    </button>
</form>

<div *ngFor="let assignment of assignments">
  <p appRendu *ngIf="assignment.rendu; else nonsoumis">
    Devoir intitulé {{assignment.nom}}, rendu le {{assignment.dateDeRendu}}
  </p>
  <ng-template #nonsoumis>
    <p>Le devoir {{assignment.nom}} n'a pas été rendu.</p>
  </ng-template>
</div>
